{# visa_guide/templates/visa_guide.html.twig #}

<div class="visa-guide-form container">
  {{ form }}
</div>

<!-- next / prev arrows -->
<div class="navigation-container container">
  <div class="swiper-button-prev button">PREV</div>
  <div class="swiper-button-next button">NEXT</div>
</div>

<!-- !next / prev arrows -->
<!-- pagination dots -->
<div class="swiper-pagination"></div>
<!-- !pagination dots -->
